.vociCard {
  width: var(--card-width, 14rem);
  height: var(--card-height, 10rem);
  background-color: #56c03c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .vociCard {
    width: var(--card-width, 20rem);
    height: var(--card-height, 12rem);
  }
}
